@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="color:#000000; background-color:#808080;">
    <h1>Pro-Fit</h1>
    <p class="lead"> Check out your BMI and get your Work out plan and Diet plan filled with healthy Recipes.</p>
    <p><i>To keep the body in good health is a duty…otherwise we shall not be able to keep the mind strong and clear.” – Buddha</i></p>
</div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="bg-info" style="background-color: #000000; color: #FFFFFF; border-radius: 15px;  padding: 20px;">
                <h2>Body Mass Index</h2>
                <p>
                    Body Mass Index (BMI) is a measurement of a person’s weight with respect to his or her height.
                    It is more of an indicator than a direct measurement of a person’s total body fat.
                </p>
                <p><a class="btn btn-default" href="https://www.news-medical.net/health/What-is-Body-Mass-Index-(BMI).aspx">Know more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-info" style="background-color: #000000; color: #FFFFFF; border-radius: 15px;  padding: 20px;">
                <h2>Health Risks Linked to Obesity</h2>
                <p>Obesity is a condition in which a person has a harmful amount of body fat or an unhealthy distribution of body fat. It raises the risk for several serious health complications. Excess body fat puts strain on the bones and organs.</p>
                <p><a class="btn btn-default" href="https://www.healthline.com/health/obesity/managing-obesity-health-risks">Know more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-info" style="background-color: #000000; color: #FFFFFF; border-radius: 15px;  padding: 20px;">
                <h2>Health Risks of Being Underweight</h2>
                <p>
                    There’s a lot of focus in the medical world on the health effects of being overweight, but what about the effects of being underweight?
                    There are certain health risks associated with being underweight or having poor nutrition.
                </p>
                <p><a class="btn btn-default" href="https://www.healthline.com/health/underweight-health-risks">Know more &raquo;</a></p>
            </div>
        </div>
      
    </div>
